[2016-08-23 16:07] kmilov commented on #979
@DanielaValero

edit1: I think that you're $interpolateProvider should not affect the sc5 style guide, since the modules are injected via ocLazyLoading.  but I'm not pretty sure on this

edit2: yes. the filesConfig is the way to go if you don't want to use the sg-angular-template way in KSS,  I found an issue with the lazy loading module load that I fixed in this PR https://github.com/SC5/sc5-styl

[2016-08-24 07:56] meriturva opened #999 "Hide full screen button"
Any configuration to hide full screen function?

I just would like to hide html part:

`<a ui-sref="app.fullscreen({section: '1.3'})" target="_blank" href="#/section/1.3/fullscreen">
        <i class="fa fa-arrows-alt"></i>
      </a>`

Thanks!

[2016-08-24 12:02] terotil commented on #476
After some poking I can tell that versions below 0.3.36 seem to have various problems with multiple dashes, hyphens and variable name length. For 0.3.36 at least problems with multiple hyphens and defined variable name being shorter than the one in the definition seem to be resolved.

Anybody still seeing this with 1.x?

[2016-08-24 12:03] terotil commented on #782
Couldn't reproduce with the repo by @nathanjosiah. Instructions were missing scss build step and with it for some reason definitions in `_config.scss` seemed not to be available via include in `config_docs.scss`. When I moved definitions to `config_docs.scss` they worked just fine.

Is this still an issue?  If so, could you update the reproduction repo to use fresh styleguide and ping here.

ps. T

[2016-08-24 12:15] der-lukas opened #1000 "Return modifier-description"
Hey!

Is there any way to return the description to each modifier in the markup?

Something like:

    // Brand Colors
    //
    // Basic Theme Colors
    //
    // markup:
    // <div class="color-container">
    // 	<div class="swatch" style="background-color: {$modifiers}">
    // 		<span class="swatch__title">{$modifiers} <br /> {$descriptions}</span>
    // 	</div>
    // </div>
    //
    /

[2016-08-24 12:55] junaidrsd commented on #987
Custom colors file should be Postcss file but as postcss can parse sass like syntax so you can import the variables file in custom colors file and can use your color's variables.

[2016-08-24 13:32] Masadow opened #1001 "Base tag in index.html causes bugs with svg"
Hey,

If I try to embed svg with `<use>` statement or if I try to use `<linearGradient>` with `fill: url(#myGradient)`. It does not work under my styleguide because of the `<base>` tag that is included in the `index.html` file.

If HTML5 mode is disabled, the `<base>` tag should not be included in the `index.html` file.

[2016-08-29 05:51] shainanigans commented on #987
Thanks, @junaidrsd.

I'm having trouble implementing this. This is simplified look at my override file (which, apart from importing the variables, works). $brandPrimary, etc., are variables defined in my variables.scss file. How should the import be written?
[code]

I initially had the import path relative to where my override file sits (`@import "../helpers/variables";`), but gulp threw errors so

[2016-08-29 11:15] junaidrsd commented on #987
@shainanigans the import is ok and I tried your file and it is working fine nothing is wrong in there. Try to remove node modules and re install them that might help.

[2016-08-29 12:58] PhilippeVay commented on #999
In CSS, you can hide these links with `.sg.label > a[href$="/fullscreen"] { display: none }` (the first part needed for specificity reasons: it should override `.sg.label a { display: inline-block; }`)

Link is still into HTML code and SC5 will still display the same view if you append `/fullscreen` to the URL of any component. To get rid of this you have to modify a view or app.js

[2016-08-31 22:23] stikoo commented on #982
To override the style guide variables I used the 'customColors' config option to link to a .scss file that simply overrides the variables [here](https://github.com/SC5/sc5-styleguide/blob/master/lib/app/css/_styleguide_variables.css). The contents of this file are as follows..

[code]

[2016-08-31 22:29] stikoo commented on #976
SC5 style guides is built on top of kss-node isn't it?

[2016-09-01 01:30] shainanigans commented on #987
@junaidrsd, that did it, thanks!

[2016-09-01 01:49] shainanigans commented on #987
Hi @junaidrsd ,
Seems I was a bit premature on closing this. It worked on a simplified variables.scss file, but not on my actual file.

What I discovered is that when I removed all the comments from variables.scss that used the `// this is a comment` style, it worked. For some reason, that style comment throws an error with the postcss processing. All comments must be in the `/* this is a comment

[2016-09-01 06:24] junaidrsd commented on #987
Hello @shainanigans,
Custom colors are using postcss and postcss syntax is more like vanilla css. Unfortunately vanilla css does not allow single-line comments `// this is a comment` but multiline comments like you said `/* this is a comment */`. So you need to convert single line comments to multiline from every importing sass files.

[2016-09-01 13:31] shanecarmody commented on #982
I can’t try this right now, but if @stikoo’s solution works then doesn’t that mean there is a problem with the `styleguide_custom_styles` mixin (and therefore also a problem with the documentation)?

[2016-09-01 14:14] #958 closed

[2016-09-01 14:54] edodso2 commented on #982
I tested @stikoo's  solution and the custom colors are not working. Thank you for sharing.

[2016-09-02 00:55] shainanigans commented on #987
Thanks, @junaidrsd. That makes sense but it would be great if there were a work around like integrating [something like this](https://github.com/postcss/postcss-scss). Any chance of seeing something like that in a future release?

[2016-09-06 23:23] Thatkookooguy opened #1007 "Build option to disable server log"
Hi! love this tool! The only problem I have is that it prints a lot to the console and I want the console to be clean and keep only my server's logs

is there a way to disable express logging for the server generated with `styleguide.generate`?

[2016-09-07 15:58] neilkalman-redkix opened #1008 "trying to load material icons with no success"
Hi there! thanks for this wonderful tool!

I'm just starting to implement this in my project, and I have some `material icons` in my app which I want to load as well.

I tried to do the following:

[code]

I see the css file call in the network, but the font itself is never loaded
![screen shot 2016-09-07 at 18 54 39](https://cloud.githubusercontent.com/assets/16304799/18318995/98fd464e-752c-11e6-

[2016-09-07 16:03] #1008 closed

[2016-09-07 16:04] Thatkookooguy opened #1009 "trying to load material icons with no success"
Hi there! thanks for this wonderful tool!

I'm just starting to implement this in my project, and I have some `material icons` in my app which I want to load as well.

I tried to do the following:

[code]

I see the css file call in the network, but the font itself is never loaded
![screen shot 2016-09-07 at 18 54 39](https://cloud.githubusercontent.com/assets/16304799/18318995/98fd464e-752c-11e6-

[2016-09-07 16:22] Thatkookooguy commented on #1009
I also found out that adding `disableEncapsulation: true,` make it work.

So maybe there's another place to inject css into the shadow-dom thingy?

[2016-09-11 20:52] tschofen opened #1010 "No components added to the style guide created via CLI"
I'm trying to use the CLI to generate a style guide (part of a larger node app). I created a primitive test to see how I needed to set it up for our larger project. When I generate the style guide, the less file is processed, but the only link I see is the 'Overview'.

Any idea what I'm doing wrong?

The sections array inside the generated `styleguide.json` file is empty, but variables from the le

[2016-09-11 21:32] tschofen commented on #1010
Turns out, that KSS alternate style guide references are not supported.
Only numeric references work.

// Styleguide Layout.View
// Style guide Layout.View
// Style guide Layout - View

Is that a bug?

[2016-09-11 21:32] #1010 closed

[2016-09-13 02:30] tschofen opened #1011 "Debugging with CLI"
I'm running into less parse errors.
`Please check validity of the block starting from line #82`
No other information. Not even the file that it happens.

I'm running my project from a node executable file that has all the options set.

What do I need to do in order to see the block of code and file that is causing the issue?

[2016-09-17 14:08] BioPhoton commented on #739
I was using angular together wit ts and used gulp as build chain. Now i use webpack to build it.
In both scenarios i was not able to get angular(1.5.x) components working in my styleguide.

Would be cool to get some feedback. thx!

[2016-09-20 16:18] ethikz commented on #927
I tried @helenasue and it still didn't work.  I'm using the latest, v.1.2.0.  Any update on when this will be fixed?

[2016-09-20 16:32] ethikz opened #1013 "SC5 not able to parse SCSS functions"
This might be related to #782 and if so then you can close this.

I am noticing issues running SCSS functions.  I've been reading about issues with more than one `-` but I have tried without and it's still an issue.

[code]

What is being compiled for `$primary-color--light` is `lighten(#00B1E6, 10%)`

So I figured that might have been related to multiple `-` so I did the same thing on `$primary-c

[2016-09-22 17:37] brycehewett commented on #850
What was the resolution to this. I'm getting the same error on app.js as well as a directive that I added.

[2016-09-24 14:21] jaynnasc commented on #595
@Jehu Would you mind leaving this ticket open?  I still need it to be fixed.

[2016-09-24 16:03] Jehu commented on #595
@jaynnasc ok, i reopen this.

[2016-09-28 05:34] kchetan92 opened #1014 "Support for block comments"
KSS supports block comments /**/, however sc5-styleguide wasn't able to parse it properly. Is this a bug?

[2016-09-29 09:56] junaidrsd commented on #1014
KSS supports block comments with only CSS. In order to use preprocessor it only supports inline comments. See this [section](https://github.com/kneath/kss/blob/master/SPEC.md) for details

[2016-10-04 14:24] ayjee commented on #510
+1

[2016-10-05 07:31] kraftner commented on #1007
Looks like it is [this line](https://github.com/SC5/sc5-styleguide/blob/7e9c8fa05c2a57c397d25ef7c34668600734f1bb/lib/server.js#L16), but I am not familiar with express or morgan. But would be a great feature. I hardly notice relevant errors and notices because the logs scroll them off screen.

[2016-10-06 13:10] shanecarmody opened #1015 "Styleguide not regenerating on update of README.md file"
Hi,

I was wondering if there was any way to get the styleguide to regenerate when I update the `README.md` (the file specified in the `overviewPath` option)? Each time I update this file I have to rerun the Gulp task to generate my styleguide.

Thanks in advance.

[2016-10-18 14:22] shanecarmody commented on #988
Where is the `/socket.io/socket.io.js` supposed to exist in the styleguide project? I see the folder `socket.io` in `node_modules` but `socket.io.js` doesn’t seem to exist in that folder. It exists in `socket.io-client/socket.io.js`.

[2016-10-18 14:48] shanecarmody opened #1016 "socket.io.js not found when styleguide is put on server"
Hey,

I don’t understand how `socket.io.js` is being referenced from `index.html`. I see these 3 lines at the bottom of the `index.html`:

[code]

The `/js/` folder being referenced exists. The `/socket.io/` folder doesn’t. The styleguide works locally but not when I put the output folder on the server. I get this error:

`GET https://styleguide.proxi.tools/socket.io/socket.io.js 404 (Not Found)`

[2016-10-18 15:22] shanecarmody commented on #982
Changed the name from `_styleguide_custom_variables.css` to `_styleguide_custom_variables.scss` and used the Sass variables like @stikoo suggested. It works, closing…

[2016-10-18 15:22] #982 closed

[2016-10-19 08:57] hokut-o opened #1017 "Why is it not displayed by the list of variables?"
_test.scss

[code]

_variables.scss

[code]

Why is it not displayed by the list of variables?
![image](https://cloud.githubusercontent.com/assets/10446161/19512120/5306b52a-9625-11e6-8c74-81205a6fbbc6.png)

[2016-10-27 13:02] varya commented on #1017
Hi. Sorry, for some reason the parser only considered the variable declarations with a space after `:`. I fixed it here https://github.com/SC5/sc5-styleguide/pull/1018 Let's wait for next minor release. Until it happens, as a quick solution, you can change the variable definition to `$color__grey: #212121;`.

[2016-10-31 15:03] juliami opened #1019 "Allow to run multiple styleguide servers on different ports"
Hi,

Is it possible to run multiple instances of sc5-styleguide on different ports?
I'm trying to generate 2 styleguides from one gulpfile (for two different themes in the app). So I registered 2 tasks:

[code]

They both work when called separately however when I use them both, I get

`Express server listening on port 4002`

only and nothing is generated on port 4001.

Is there a way to have two

[2016-10-31 19:59] nategreen commented on #1015
I think you can do this by telling Gulp to watch that file and run the styleguide task whenever it changes, the same way you do with your Sass/LESS files. So, if you copied the example task that looks like this:

[code]

You'd want to add `'README.md'` to the first argument of `gulp.watch()`, giving you:

[code]

[2016-11-01 13:41] varya commented on #1015
Thank you, @nategreen. That's correct.

[2016-11-01 13:41] #1015 closed

[2016-11-01 18:17] dlangston commented on #927
Has there been any development on this?

[2016-11-02 16:10] varya commented on #1019
Hi. There was no such feature. I've made a PR here #1021. Please wait a little bit for it to be merged, and for the upcoming version update.

[2016-11-02 16:10] #1019 closed

[2016-11-02 16:14] #1017 closed

[2016-11-02 16:16] varya commented on #1014
@kchetan92 If you still have a problem, please tell which syntax are you using, SASS, LESS, SCSS? If not, can we close the issue?

[2016-11-02 16:20] hokut-o commented on #1017
I see. Thank you for telling me the detailed information.

[2016-11-02 16:29] #1014 closed

[2016-11-02 16:30] kchetan92 commented on #1014
Thanks @varya , @junaidrsd . Your suggestion worked.

[2016-11-02 16:47] varya commented on #1007
@Thatkookooguy Hi. Good proposal, thank you :-) This functionality has been implemented. Please, wait for this PR to be merged, and then for the following release.
https://github.com/SC5/sc5-styleguide/pull/1022

[2016-11-02 16:59] #1007 closed

[2016-11-02 20:34] jwywr commented on #884
cssnext has transitioned into postcss-cssnext
https://github.com/MoOx/postcss-cssnext/issues/208

[2016-11-03 11:12] juliami commented on #1019
Awesome, thank you.

[2016-11-03 12:11] varya opened #1023 "Try out css-tree as a parser for CSS"

[2016-11-04 13:20] varya opened #1025 "Check Node@6 support"

[2016-11-05 13:41] marinho opened #1027 "sg-wrapper being ignored all over the project"
I am a beginner in sc5-styleguide.

I've just created my own project copying the files `package.json` and `gulpfile.js` from **sc5-styleguide-tutorial**.

The styleguide is generated alright, including `sg-insert` and basic KSS support, but when `sg-wrapper` is completely ignored. No errors. Just the built styleguide renders the markup without wrapping HTML.

Funny that I couldn't see any differen

[2016-11-05 15:33] marinho commented on #1027
Ooh, I found why: the KSS notation had a white space after the double slash comment just above `sg-wrapper`, as below:

[code]

Curious that it seems KSS itself doesn't prohibit that, and the other spacings between other sections such as Title and Description, Stylesheet, etc. are fine and accepted.

To me, that seems a bug in **sc5-styleguide**.

[2016-11-08 09:33] shanecarmody commented on #1015
Maybe my issue title was badly worded.

@nategreen your solution indeed regenerates the styleguide but does not refresh the content. So for example, when I add a paragraph to my `README.md` and save, I do not see the paragraph I added… I have to refresh manually. Do you know what I mean?

Should I rather be using something like LiveReload?

[2016-11-09 14:52] sarabarrerariano opened #1028 "SCSS Variable used in path gives validity error"

[2016-11-09 15:24] sarabarrerariano opened #1029 "Spaces before and after variable throws validity error"
Please check validity of the block starting from line #31

**This doesn' work**
`src: url($themepath_base + 'fonts/Interstate-ExtraLightItalic.eot');`

**This works (notice de deleted spaces between the variable)**
`src: url($themepath_base+'fonts/Interstate-ExtraLightItalic.eot');`

[2016-11-09 15:30] #1029 closed

[2016-11-09 15:31] #1028 closed

[2016-11-09 15:55] Thatkookooguy commented on #1007
@varya thanks!

[2016-11-10 07:47] marinho opened #1030 "Socket.io downloads external package when installed"
Socket.io as a dependency requests [1] when installing, which is blocked by company's security policies.

Is there any solution in place for that? I'm going to fork sc5-styleguide and try to remove Socket.io dependency - not sure if that will be easy or not.

[1] https://github.com/rase-/node-XMLHttpRequest/archive/a6b6f2.tar.gz

[2016-11-10 10:11] varya commented on #1030
Could you address this question to https://github.com/socketio/socket.io/issues ? They probably can suggest something.

[2016-11-10 11:36] varya commented on #1027
Thank you. This was a bug. It's fixed here https://github.com/SC5/sc5-styleguide/pull/1031 Please wait for the pull request to be merge and for the next release.

[2016-11-10 12:01] #1025 closed

[2016-11-11 05:06] marinho commented on #1030
Thank you for the response. This was the fix: [1], so, that means if you guys upgrade from `socket.io~1.3.5` to `^1.4.0` it should fix the issue.

You can refere to [2], [3], [4] and [5] for more info.

I'm filing a PR, as I tried it and got it working, but it's literally just to bump to socket.io 1.4.0 or higher.

[1] https://github.com/socketio/engine.io-client/issues/428
[2] https://github.com/

[2016-11-11 08:45] #1030 closed

[2016-11-11 08:46] varya commented on #1030
Thank you. Merged :-) And should be in the next release.

[2016-11-11 09:00] marinho commented on #1030
fantastic! I'll be waiting :P

[2016-11-15 04:32] fosterinteractive commented on #482
I had a similar error after upgrading from sc5 from version 1.0 to 1.3.1.

Looks like a few bug are all related to the issue in gonzales-pe in my case it was sass interpolation.

https://github.com/SC5/sc5-styleguide/issues/508
https://github.com/SC5/sc5-styleguide/issues/577
https://github.com/SC5/sc5-styleguide/issues/652
https://github.com/SC5/sc5-styleguide/issues/931
https://github.com/SC5/sc

[2016-11-17 14:18] dawidk92 opened #1036 "Sass interpolation with BEM modifier (--) throws error"
#{$cmp}--modifier { ... }

This throws me error: 'Please check validity of the block starting from line #X'

That bug is really annoying, so please fix it asap.

[2016-11-18 12:39] dawidk92 opened #1037 "Using 3 or more modifiers gives error"
It would be nice if :active will work the same as :hover in KSS notation.

// Button
//
// default - default button
// :hover - hover button
// :active - active button

Right now ':active' throws error:
"Styleguide generation failed
Error: TypeError: varName.substring is not a function in $file"

[2016-11-21 09:03] sarabarrerariano opened #1038 "Update version gonzales-pe 4.0.3"
Gonzales-pe released some big changes, that fixes a lot of bugs due to this package.
Can de version be Updated in sc5 too?

Gr

[2016-11-28 10:34] marinho opened #1041 "Implement support for multiple themes"
In my job, we just started using sc5-styleguide, and still have learned how to use it in our context, but we certainly need to implement any sort of multiple themes support in it.

So, I'd like first to ensure this is part of the road map, and offer my help on it.

If there's no plan about it, I will followup and define a plan and present it in here.

If it's completely out of future plans, I'm go

[2016-11-28 17:49] nategreen commented on #1015
@shanecarmody Yeah, I think so.

[2016-11-29 15:27] Grienauer commented on #981
I know, this is not an urgent and really minor issue, but could you tell us if there is/will be any progress on this?

[2016-11-30 19:22] herrjosua opened #1043 "LESS functions"
I am working on getting this working for my project at work, but I am encountering an issue with LESS functions. I have a variable with the following LESS function `darken(#428bca, 6.5%)`, but when I try to generate a page with all the colors used it does not display this color correctly. It just displays the function. I am able to provide all the files I am using, as I am currently working on a s

[2016-12-01 06:40] jnystromdesign opened #1044 "Multiple KSS entries in SASS files (indented syntax) don't work"
If you add a kss declaration after a sass style, that kss will be ignored by sc5 and handled as a commented part of the SASS/CSS.
By putting all KSS declarations in the top of the file and all the sass styles below, all sections will be will be included.

Not sure this is intended, but I'd prefer if I could have KSS and SASS together and have multiple sections declared in one file.

[2016-12-01 09:50] junaidrsd commented on #981
showMarkupSection option added to the recent release and markup section is open default. But it can be set to false to make markup section close.

[2016-12-01 09:50] #981 closed

[2016-12-02 14:52] PhilippeVay commented on #1044
Any KSS declaration that ends with:

    // Styleguide 4.2

will create a component numbered 4.2 with its own page and the Sass code that follows will be shown in a "Display CSS" part. Beware that all lines in the KSS part must begin with `// ` even in `markup:`, no empty blank line allowed (that's a bit annoying in HTML code but well, still manageable :) ).
Here's an [example file](https://github

[2016-12-02 19:25] patriziosotgiu opened #1045 "Live Preview (Web Socket) not updating styles on change"
I was able to successfully run the styleguide on my current project, but for some reason, the live preview feature is not working.
I can see from the console log that the web socket is connecting and the server is running, but when I change a style or copy the page is not "refreshed."

The feature seems to work till the released version 0.3.47, but it breaks after upgrading to 1.0.0 and up.

Is th

[2016-12-08 14:35] varya commented on #1044
@jnystromdesign Could you provide code example?

[2016-12-12 19:50] marinho commented on #1041
No response at all. I gonna start it by my own, then.

[2016-12-13 08:05] ramert commented on #1041
There are similar plans in a project where I'm working. Have not started any development effort as I write, but @marinho: Maybe we could sync design ideas?

[2016-12-27 15:20] #1038 closed

[2016-12-27 15:21] varya commented on #1041
@marinho Hi. Sorry for late response. There was no plan on themes yet. You can make them if you would like.

[2016-12-27 16:09] varya commented on #1037
Hey. I suspect that the problem is not `:active` modifier but using 3 or more modifiers. If you change `:active` to anything like `.class - Smth`, is there the same problem? If there is, then the fix will be soon merged https://github.com/SC5/sc5-styleguide/pull/1050

[2016-12-27 19:07] rkastltkg commented on #927
Has there been any development to this?

[2016-12-28 09:03] dawidk92 commented on #1037
Yep, you're right. Error occurs when there are used 2 or more pseudo classes.
:active works alone but with use of :hover it doesn't any more

[2016-12-28 09:33] #1037 closed

[2016-12-28 09:52] varya commented on #1038
@sarabarrerariano Hi. Updated :-) https://github.com/SC5/sc5-styleguide/releases/tag/1.4.0

[2016-12-30 02:04] patriziosotgiu commented on #510
+1

[2017-01-02 14:33] junaidrsd commented on #927
I've implemented an option for it and submitted PR wait till next release.

[2017-01-05 10:12] DanielaValero opened #1054 "Print gonzales-pe context when parsing fails"
Hello,

Currently when the gonzales-pe parse fails, due to a syntax error, or so, the context of the error is not printed, but only the error message and the line. Example:

[code]

This would be enough perhaps when working on a single CSS file, but when working with preprocessors, like less or sass, becomes quite unclear, as we need to know also ideally the file where the error is located. But as

[2017-01-06 13:37] varya commented on #1054
I think that Gonzales-PE does not have API for error, does it?

[2017-01-06 14:03] varya commented on #1045
Hi. Sorry for this :-( Fixed and soon will be merged https://github.com/SC5/sc5-styleguide/pull/1055

[2017-01-06 19:10] patriziosotgiu commented on #1045
Hi @varya, that's great! Thank you so much for taking care of this.

[2017-01-09 09:31] DanielaValero commented on #1054
Hi @varya
I actually checked as deep as I could in `gonzales-pe` but could not find the option when it is used with `node`, it is available when used as `cli`.

Some time ago, there was a PR (tonyganch/gonzales-pe#222) asking about this, where the author mentioned that the `silent` option could be set to `false`, so we can print the context. Asked in there if we can point us out where to find it.

[2017-01-12 08:25] jarnovanrhijn opened #1058 "Using ng-template"
Is it possible to use angular directive which use: <script type="text/ng-template" id="template.html"></script>

Right now it renders the template with the script tag which breaks the directives.

[2017-01-12 09:59] #1045 closed

[2017-01-12 14:45] omarmeky commented on #884
Any plans to update relevant dependency versions?

The installation is failing due to a related sub-dependency:

[code]

[2017-01-16 13:09] #1027 closed

[2017-01-16 13:12] varya commented on #999
We cannot make a configuration option for every single UI element. This way the list of option will grow huge. So I support the advice of @PhilippeVay. Do you CSS to overwrite the visibility of the link. Hope this will help.

[2017-01-16 13:14] #999 closed

[2017-01-17 13:30] varya commented on #1016
Are you sure you need socket.ip on server? Usually for public hosting styleguide is generated as a static website. If you do not use `server` option, the tool makes static style guide web site in the given folder. Look like I do this https://github.com/varya/varya.github.com/blob/develop/gulpfile.babel.js#L14 The result is here http://varya.me/styleguide/#/

Will this help you?

[2017-01-17 14:02] varya commented on #993
Once it's merge, you'll have it :-) https://github.com/SC5/sc5-styleguide/pull/1060

[2017-01-18 11:09] #993 closed

[2017-01-19 18:01] morgs32 commented on #1036
This is a pretty severe bug no?

[2017-02-07 10:14] #1016 closed

[2017-02-09 00:22] macahi commented on #1054
Hello,

the `gonzales-pe` [ParsingError](https://github.com/tonyganch/gonzales-pe/blob/ab24a90faf070bc7fa0ad28b3cc63849c4d3f6bc/src/parsing-error.js) contains the context and a `toString` method which includes the context.

The error is passed down to
https://github.com/SC5/sc5-styleguide/blob/master/lib/styleguide.js#L430
If you use `console.error(error.toString())` instead of `console.error(erro

[2017-02-09 10:28] dawidk92 opened #1063 "Disable css section"
It would be nice to add to build options boolean which will depends if there should be generated css section

[2017-02-21 07:58] varya opened #1064 "Re-organize app components into folder structure"

[2017-02-28 00:00] erwstout opened #1065 "Styleguide Class Name Documentation"
Hey there, so I noticed there are classes used to render things correctly when the styelguide is generated, such as `.sg` and `.styleguide-color` but I only discovered them while doing some digging into the demo. Is there a list of all the classes available for the user markup? If so it's not easily found.

If there isn't, it may be a good idea to include that in the readme somewhere.

Thanks!

[2017-02-28 17:14] ethikz commented on #1013
Any update on this?

[2017-03-01 11:14] varya commented on #1013
@ethikz, Currently used dependencies do not allow to solve it easily. Only with heavy refactoring, for which there is no time yet :-(

[2017-03-02 08:07] asim-brokergenius opened #1066 "RGBA Color change through sidebar"
Is there a way to change RGBA **(color: rgba(22,93,148,0.3) )**  in variable, which will change through sidebar just like Hex code?

![2017-03-02_1305](https://cloud.githubusercontent.com/assets/22961476/23498334/252696f6-ff49-11e6-9e1a-dd82cbcdcb43.png)

[2017-03-07 13:46] johannesjo commented on #755
Any news on this one?

[2017-03-09 15:07] ethikz commented on #1013
@varya Thank you for the response

[2017-03-20 14:54] brycehewett commented on #1036
This is actually causing sc5 to not generate at all for me now.

[2017-04-05 18:28] damienwebdev commented on #685
Any action on this? It's almost two years old. @varya @hannu I can take a look into this if you point me in the right direction.

[2017-04-06 08:14] varya commented on #685
@damienwebdev I cannot do it right now. If anyone provides a PR with implementation, I'll be happy to merge it.

[2017-04-07 19:54] craigmcginley commented on #1054
I'm having the same issue using LESS, unable to track down the root cause because of the poor error message. Compiling my LESS with `gulp-less` package works fine, so I suspect there is more at play here with `gonzales-pe`.

[2017-04-10 12:14] kivils opened #1071 "disableEncapsulation: true and watching scss?"
Thanks for this tool, it's very useful!

I've implemented it into my `gulp` workflow about a year ago.
Recently I've upgraded to nodejs v6, and now I have an issue watching scss-files. (I'm not sure if this issue existed in nodejs v4 though).

My experience is as follows:
1. If `disableEncapsulation` is set to `false`, `gulp watch` task works as expected: when I edit scss-files, the page with my s

[2017-04-11 10:36] Lars-Weber opened #1072 "Update Angular version"
Hey,

we are currently getting a JS error breaking site functionality when displaying Angular components.

[code]

An update of the Angular version from 1.5.5 to 1.6.3/1.6.4 (and subsequent modules angular-animate and angular-mocks) would be massively helpful.
Any chance this might happen soon?

The error appears since we moved our internal project to Angular version 1.6.3 and is most likely due t

[2017-04-13 09:06] varya commented on #1072
Hi. You can do it, if you have time. Please, provide a pull request (http://makeapullrequest.com/). If you need help with it, I'll be happy to give a hand.
Regarding implementation: It would be nice to provide an option for different versions of Angular. Maybe someone still needs old version.

[2017-04-13 16:23] dlangston opened #1073 "Add Section In Between Is Deleting `Styleguide:ignore` Code"
The `addSection` helper is deleting the ignored sections of my code inside `styleguide: ignore:start` and `styleguide:ignore:end`
[code]
It is also replacing the first line of code with what looks like a Windows line ending character `^M`.
[code]
This is what I have in my gulp file:
[code]
and I use the task like this:
[code]

Not sure if I am doing something wrong or if this is a bug in the helpe

[2017-04-18 09:56] DanielaValero commented on #1072
Hi @varya

I will take over, you can assign the issue to me.

However, making the version of angular configurable, might not be that straight forward. My first thought is to add it in the settings of the project, and let the project be built up with that specified version.

However, having defined the version to install of angular, is a decision that needs to happen before the project is installed

[2017-04-20 06:18] #1054 closed

[2017-04-20 11:27] varya commented on #1072
Thanks @DanielaValero! I've sent you invitation to collaborators (I suppose I will be able to assign to you if you are a collaborator).
The plan you propose sounds solid, go ahead! You can make everything in your fork, and then do a PR. If you would like the origin repo to have a special branch for `@next` release, just let me know. Thanks again!

[2017-04-20 11:29] varya opened #1076 "Try Postcss a a processor for SASS"

[2017-04-20 11:30] varya opened #1077 "Provide custom templates for rendering examples"

[2017-04-20 17:52] dlangston commented on #1073
Anyone???

[2017-04-23 12:07] bytelovers commented on #1076
Hi @varya:

If you're interesting, I'm trying to migrate the project to PostCSS. Feel free to visit my fork (https://github.com/bytelovers/sc5-styleguide) to watch it.

Best regards!

[2017-04-26 13:17] varya commented on #1076
@bytelovers Did you mean migration of App's CSS code? I meant to use postCSS as a parser for the projects over which we run sc5-styleguide.

[2017-04-26 14:37] bytelovers commented on #1076
Sorry, I understand the migration of project to PostCSS and add support / process (from PostCSS) to SASS.

I believe with this way to group processes in one base language and use the new features of CSS.

P.D: Sorry for my bad english :)

[2017-05-04 10:30] DanielaValero opened #1079 "Update dependencies and migrate deprecated dependencies"
Hello,

There are some dependencies in the project that are quite out of date. Here the list

[code]

There are also, some dependencies that are using still a deprecated version.

[code]

Is there a reason why we keep them out of date? If not, I can prepare a PR.

[2017-05-04 11:28] varya commented on #1079
@DanielaValero Hi! As far as I remember, no reason. You can update, just check with tests that everything is working. PR is very much appreciated, thank you!

[2017-05-04 11:28] #1072 closed

[2017-05-04 12:12] DanielaValero commented on #1079
Sure, I already started some work on the matter, and for sure will take some more time as the angular one. But will get it in :)

Also, with the latest version of KSS, I think we will be able to support words instead of numbers for the sections.

I will make sure to update readme accordingly, and letting you know with time, if there is any breaking change, so we can announce it accordingly to the

[2017-05-05 08:12] varya opened #1082 "Exclude global styles by parameter"
Refactor this feature so that global styles are excluded by the tool parameter, no matter how it had been installed.

https://github.com/SC5/sc5-styleguide/pull/1081

[2017-05-05 15:23] tomasz-nowakowski-stx opened #1084 "Pug markup does not appear in styleguide"
After you switch from Jade to Pug you did not update `/lib/app/views/partials/section.html` file. Now only "show markup" is visible in styleguide.

Please change:
* all `section.markupJade` to `section.markupPug`
* all `section.showMarkupJade` to `section.showMarkupPug`
* `Show JADE markup` to `Show Pug markup`

I can make an pull request with this changes but I don't know if you accept commits fr

[2017-05-08 11:08] #1082 closed

[2017-05-09 11:54] birdfoot commented on #510
+1

[2017-05-16 10:49] DanielaValero opened #1088 "excludeDefaultStyles documentation is confusing"
Hello,

To my understanding, the default styles are contained in: styleguide-app.

If this is correct, and the new option: `excludeDefaultStyles` is set to true, then the `styleguide-app.css` should not be delivered to the app.

However, at the moment, it is working in the opposite way. If `excludeDefaultStyles` is set to `true`, then the app styles are sent to the app.

The issue now, is that its

[2017-05-16 13:43] varya commented on #1088
@junaidrsd

[2017-05-17 05:59] junaidrsd commented on #1088
@DanielaValero styleguide-app.css contains other definitions inside it which is important in both cases for example font styles and custom colors. If excludeDefaultStyle option is set then styleguide does not compile default styles in styleguide-app.css. I’ll make sure both options are working. I think it is better to have false as a default value that is why I set excludeDefaultStyle to true so t

[2017-05-17 10:22] DanielaValero commented on #1088
Hi @junaidrsd

I did a new check. I set in my config explicitly`excludeDefaultStyles: false`.

Then the styles are rendered, but not on page load. But somehow, it does not behave in all the cases consistently.

It might be that what happens is that the default value is not being taken properly by the implementation.

However, about the loading consistently or inconsistently, I will try to get more

[2017-05-19 14:23] atreliz opened #1090 "Angular 2 components"
Hi!

I love the styleguide guys, thank you very much.
Are you planning also to have a version to use Angular2 components, or do you know any project experiment I could use?

[2017-05-23 07:58] j-buntinx commented on #1044
I have the same issue. In my example code the "Navigation" does not show up in the styleguide.

[code]

[2017-05-23 15:17] dlangston commented on #478
I am having this problem when using this feature
https://github.com/SC5/sc5-styleguide/issues/1073#event-1051025389
Has anyone else seen this?

[2017-05-24 12:33] varya commented on #1044
This is related to Gonzales bug https://github.com/tonyganch/gonzales-pe/issues/266
As a workround try to add multiline comment `/* hack */` before the section which is not parsed.

[2017-05-24 14:32] tarciozemel opened #1091 "Support to gulp-compass"
Would be nice if SC5 provide support to [gulp-compass](https://www.npmjs.com/package/gulp-compass). Many of us have this Gulp plugin in our workflows and unfortunately we face issues with the use of Compass functions.

Regards.

[2017-05-24 14:37] tarciozemel opened #1092 "Generate static docs"
By far SC5 it's the most simple and efficient styleguide generator which I have seen!

But it would be nice if we have the option to generate absolutely static docs. Many time is not about host the docs of a project, but simply send a zip to the client with the instructions -- very standard scenario in outsourcing projects, btw.

Best regards.

[2017-05-25 01:02] j-buntinx commented on #1044
Yes, that works. But then the `/* hack */` shows up in the "Show CSS" part of the generated site. This also works, but then the sg-wrapper lines get ignored.

[code]

[2017-05-30 07:43] HermineF commented on #510
+1

[2017-05-30 11:44] DanielaValero commented on #510
Hello everyone,

I have already a branch, in which I am preparing this feature. In the mean time, instead of adding more comments with +1 would you add a reaction to the first comment, with the +1 icon version?

It would help a lot to keep the ticket clean.

[2017-06-01 10:28] #1088 closed

[2017-06-13 18:12] patriziosotgiu opened #1097 "Error in Demo Build"
I'm getting this error when running `npm run demo`

[code]

When running `npm run demo` for the first time gulp builds and watches for changes, but the CSS styles are not loaded when visiting `http://localhost:3000`.

![screen shot 2017-06-13 at 11 12 04 am](https://user-images.githubusercontent.com/1378022/27097456-26839e3c-5029-11e7-9183-59c5c4e142fa.png)

Running `npm run demo` for the second t

[2017-06-15 09:22] mdillgen opened #1098 "Wrapper markup PUG"
Would it be possible, to write Wrapper markup, e.g. <sg-wrapper-content/>, in PUG?

Something like this:
[code]

[2017-07-06 17:14] dlangston opened #1104 "Search not working to well"
When I try and search for a style in our style guide it returns unexpected results. For example if I search for button instead of showing the section titled button it shows me the section titled colors. Is there something specific I need to do to make our styles more search friendly?

[2017-07-10 15:03] sdhal commented on #1097
Hi,

Having same issue, any suggestion ????

[2017-07-13 19:00] EightArmCode commented on #1097
I get the same error, except for me localhost:3000 won't load the page at all.

[2017-07-31 18:42] mikezks commented on #1097
Try to rename ``_styleguide_default_styles.css`` to ``_styleguide_default_styles.css.bak``.
Afterwards ist should build correctly.

I have to test whether this file will be used with the styleguide though.

[2017-08-11 09:46] junaidrsd opened #1108 "Unable to parse custom variables"
New release is not parsing custom variables

[2017-08-14 10:57] middric opened #1109 "Line comments in default CSS results in parse error"
Default styles seem to be parsed as CSS instead of SASS. These files have a css extension but contain sass syntax. As a result the line comments are failing during parsing. Seems this was introduced in 2.0.2 as 2.0.1 works fine.

Probably same issue as #1108.

Console output
[code]

[2017-08-14 15:31] #1108 closed

[2017-09-05 13:57] ChrisCraig68 opened #1115 "App styles not working after updating to version 2.0.4"
Hi I have just updated from 0.3.47 to 2.0.4 but the styles within 'styleguide-app.css' are incomplete.

It is causing styleguide elements such as the design tool to have no styles attached. I have tried setting the 'includeDefaultStyles' to both true and false but no luck.
![my styleguide](https://user-images.githubusercontent.com/21010009/30064687-72b2dd3c-924a-11e7-86b0-dfd5c82e11fd.png)

[2017-09-06 08:20] junaidrsd commented on #1115
Hi @ChrisCraig68, It seems this is only happening to the clean build. I'll have a look when I get time. Thanks

[2017-09-06 11:25] ChrisCraig68 commented on #1115
Thanks @junaidrsd

[2017-09-06 15:18] OliverJEvans commented on #1115
I had the same issue going from 2.0.1 to 2.0.4. Reverting back to 2.0.1 works for now.

[2017-09-06 17:48] ChrisCraig68 commented on #1115
@OliverJEvans Thanks that worked for me.

[2017-09-06 19:36] damienwebdev commented on #1115
I see the same thing. Not sure why this issue got closed, the bug still remains. I'd leave this open until this gets fixed by @junaidrsd 's pull request.

[2017-09-12 09:40] d2s opened #1117 "Test suite fails to run without mocha dependency"
Running of tests fails when `mocha` is not installed globally.
Test suite depends that the system has it somewhere,
but it does not get installed automatically by the `package.json` file.

When running `npm test` command, test suite failed with the following error messages:

[code]

I understand that different applications might use different versions of mocha.
Still, it would be logical that the

[2017-09-14 11:20] d2s commented on #1117
#1118 is now merged, so this should be closed.

[2017-09-14 11:20] #1117 closed

[2017-09-14 19:32] kristabs opened #1121 "Markdown code block html entities"
Hello, thanks for this great tool!
I just have a problem using markdown code blocks in overview page. < gets replaced by `&lt;`
E.g.
[code]
when generated, is shown as
[code]
Any ideas how could i fix this?

[2017-10-03 09:52] dawidk92 commented on #1121
+1

[code]

[2017-10-05 08:55] mikezks commented on #1115
@junaidrsd, could you please reopen this issue?
The problem as mentioned in the inital post still persists.
I tested version 2.1.0 (git clone) and 2.0.4 (git clone and npm package) and the styles still do not work.
Thanks!

[2017-10-05 12:46] junaidrsd commented on #1115
@mikezks I've tested once again with all possibilities and styles are working for me. Can you check by deleting output folder. It should work

[2017-10-05 19:54] mikezks commented on #1115
@junaidrsd, thanks for your reply.

It seems to be related to the npm version. In the environment I tried to setup the styleguide today a npm 3.x.x version is allowed only. This seems to be the reason for the wrong styles. I tested it on another PC right now (with npm 5.4.2) and - as you said - everything works fine. Sorry for this confusion, but at least it may be helpful for others as well.

The

[2017-10-06 09:50] mikezks commented on #1115
@junaidrsd, in contrast to what I wrote yesterday I do have the styles issue with npm 5.4.2 as well. It seems to be connected to the browser.

This bug does not occur in IE, edge, Firefox, but in Chrome only.
Could you please give me feedback whether you tested successfully with Chrome as well?

I tested with ``Version 61.0.3163.100 (Official Build) (64-bit)`` and ``Version 60.0.3112.90 (Official

[2017-10-06 10:01] mikezks commented on #1115
I think I found a solution resp. workaround:

Chrome does not like this code block:
[code]

But loading it with your ``addCssLink()`` function works.

[2017-10-11 07:06] junaidrsd commented on #1115
Thanks @mikezks for reporting problems, unfortunately I'm occupied with other things. If you have found a solution just create a PR I'll merge it.

[2017-10-19 13:51] dawidk92 opened #1123 "Element states like :hover doesn't work"
[code]

[2017-10-23 13:03] PhilippeVay commented on #1104
Is this the only (wrong) result (with no good result) or are they both part of the list of results, with a numerical sort which makes (for example) 1.1 Colors display before 2.2 Buttons?

[2017-11-21 02:31] Rhym opened #1124 "namespaced positions."
Would love support for name spacing a section. KSS node's parser supports this e.g:
[code]
as an alternative to the current:
[code]
The shadow DOM is the absolute business in SC5, so it will always be my number 1, but adding components to a large established component list is a real pain when using versioning.

I too a look at the current parser, and it does a regex check for `/Styleguide [0-9]+`,

[2017-11-24 10:06] ullmark commented on #932
Late addition to this ticket;

Other problems I've been having with the shadowdom version is;
- It's hard to get `rem` font sizes to work good, since root relative to shadow dom doesn't really work. (I've tried `:host`, settings a root class, etc.)
- All browsers not supporting it (ie. all browsers except chrome) will suffer from "app"-styles leaking into the styleguide.
- `vh` and `vw` doesn't wo

[2017-11-26 16:11] ullmark commented on #932
@levito I gave the `srcdoc` version a try and found following.

- Passing `disableEncapsulation` still make it render a shadow-dom.
- Adding the `styleguideProcessors` as described above, only adds the iframe to _some_ of the secions, not all... investigating this a bit.

[2017-11-26 17:09] ullmark commented on #932
So,
I know this is an old ticket but If anyone is interested I was able to get it to work with an iframe using the following technique;
https://gist.github.com/ullmark/36cdcb87ea7c2b771b2c36988aa41d56

**note:** I don't run my applications styles through "applyStyles" because since they are added to head, it would affect the styleguide. Instead I use the file created through my "regular" pipeline

[2017-12-10 16:52] km-tr opened #1125 "Please publish v2.1.0 to npm"
If you do not have any problem, I would like you to publish to npm.

[2017-12-26 12:57] hamanovich opened #1126 "customColors option is breaking Gulp watch"
Once I enable customColors option, gulp watch fails with an error:
`
[15:50:44] Starting 'styleguide:generate'...
ERROR: customColors option is defined but the file is not copyable. Using default colors.
[15:50:46] 'styleguide:generate' errored after 1.84 s
[15:50:46] Error: ENOENT: no such file or directory, lstat '\node_modules\sc5-styleguide\lib\dist\css\_styleguide_custom_variables.css'
[15:50

[2018-01-02 09:17] aj-dev opened #1127 "gulp-util is deprecated, consider replacing it to support Gulp v4"
More info - https://medium.com/gulpjs/gulp-util-ca3b1f9f9ac5

The following gulp-util API replacements can be used:

- gutil.File => https://www.npmjs.com/package/vinyl
- gutil.replaceExtension => The .extname property on Vinyl objects or https://www.npmjs.com/package/replace-ext
- gutil.colors => https://www.npmjs.com/package/ansi-colors
- gutil.date => https://www.npmjs.com/package/date-format
-

[2018-01-09 17:33] gespinha commented on #1125
+1

[2018-01-24 14:16] dlangston commented on #1125
+1

[2018-01-24 16:17] dlangston opened #1128 "After 2.1.0 update - ERROR: Unable to exclude default styles"
I was getting the same default style bug on clean build as described here [#1115](https://github.com/SC5/sc5-styleguide/issues/1115)

I updated to 2.1.0 because it is suppose to have a fix for this issue, however once I update to 2.1.0 I receive the following error when I run gulp -
`ERROR: Unable to exclude default styles `

I thought it might be related to the `includeDefaultStyles` but I am not

[2018-01-24 17:57] junaidrsd commented on #1128
@dlangston I think you're missing dist folder try running this task first

``` gulp build ```

[2018-01-24 19:19] dlangston commented on #1128
@junaidrsd Thanks for the reply. I haven't needed to run `gulp build` in the past, is this new? I currently don't have a build task in my gulp file so it fails if I run it. Up until now we have just installed SC5 via npm then ran the default gulp task, staticStyleguide. Thanks again for the help.

[2018-01-25 05:21] junaidrsd commented on #1128
This isn't new this task is a dependency to main tasks. Somehow it did not perform or dist folder might got deleted for some reason. I think I need to display meaningful error message.

[2018-01-29 17:58] dlangston commented on #1128
So what is the best way to make sure the dist folder is added?

[2018-01-30 06:12] junaidrsd commented on #1128
Dist folder is always there unless one delete it accidentally. I'm 100% occupied with other things otherwise there can be better ways to handle this situation.

[2018-02-09 11:33] cyruscollier opened #1129 "Broken background-image paths"
Our asset build structure has images in a separate directory from css, so it's `css/main.css` and `images/*`. Because of that, our CSS background images all have relative urls `../images/*`. The generated `styleguide.css` path is hardcoded inside `appRoot` with no way to control the path, so it assumed that all images are within the same directory for every project. I suppose I could use a gulp fi

[2018-03-16 12:19] kasparsd commented on #1128
I had the same issue with a fresh build and adding `includeDefaultStyles: true` to our config fixed it. This happens because this conditional:

https://github.com/SC5/sc5-styleguide/blob/b9787e3501ef1d712d43b98620ed4fdec0a7298d/lib/modules/common.js#L35

sets it to `false` if you don't specify it.

So the readme is actually wrong because the default is not `true`:

https://github.com/SC5/sc5-style

[2018-03-16 12:53] kasparsd commented on #1128
Fix available in #1130.

[2018-03-21 20:21] #1126 closed

[2018-03-29 18:47] SpliceVW commented on #1125
+1 - we can't build SC5 currently because of #1115

[2018-04-02 03:56] Angola commented on #1121
@kristabs
example

<pre><code><div class="box">
    <div class="box__ttl">title</div>
    <div class="box__txt">text</div>
</div></code></pre>

[2018-05-03 09:37] Spike-86 opened #1131 "Find DOM element with jQuery"
Hello, Varya. Thank you for this tool, it's quite cool. But I have one question. I want to create a demo page for my project with js animation (pop-up, spinner, datepicker, alert, and others). I include <script> tags with libraries and my custom js file into gulp files option (extraHead). Then I create DOM element at the page with a markup in SCSS file. In my custom file I call console.log($('myTe

[2018-05-30 13:49] #690 closed

[2018-05-30 13:50] #858 closed

[2018-05-30 13:50] #863 closed

[2018-06-13 09:54] alexd-3d opened #1132 "Prevent source files being copied inside of the destination folder"
Not sure if it's issue or feature but I wondering why generate() method copies all processed source files (*.scss) inside of the destination folder? It makes a real mess inside of a Styleguide Output root folder :( Generally it just needs to parse them, because generation of .css either way goes from source files in sass(....).applyStyles() etc.
Seems like if I delete all of them from output SG wo

[2018-06-19 12:32] #1128 closed

[2018-06-19 22:14] SpliceVW commented on #1125
Was published 9 hours ago. I think this can be closed.

On Tue, Jun 19, 2018, 4:27 PM Mathew Winstone <notifications@github.com>
wrote:

[2018-06-20 06:32] #1125 closed

[2018-07-17 20:09] DanielRuf opened #1134 "failing unit tests"
I guess we have to check and fix the unit tests: https://travis-ci.org/SC5/sc5-styleguide/builds/394086233?utm_source=github_status&utm_medium=notification

[2018-08-14 18:37] weslley-campos commented on #916
+1

[2019-01-07 07:54] #939 closed

[2019-01-10 21:23] EHLOVader commented on #1036
Was there any work around for this, other than setting sc5 to ignore any lines with modifiers?

[2019-01-29 22:11] Shaderpixel commented on #1127
Hey @aj-dev, I was trying to install SC5 with my Gulp 4.0 setup, I keep getting an error: `Error: Received a non-Vinyl object in 'dest()'`. I googled and arrived at this https://github.com/gulpjs/vinyl-fs/issues/288. I see mention of gulp-util, is your issue related?

I found a workaround to get Gulp 4 working but it doesn't feel right https://github.com/MetaMask/metamask-extension/issues/2808#iss

[2019-02-04 15:32] aj-dev commented on #1127
@Shaderpixel SC5 won't work with gulp v4 until `gulp-util` dependency is removed. I opened this issue a year ago but no work has been done so far

[2019-03-26 07:38] fursich opened #1136 "(security alert) updated morgan"
Hi, first of all thanks really a lot for maintaining the package!

## security alert

Just noticed github has been giving an alert for potential vulnerability on `morgan`, one of its dependencies.

(datailed report here)
https://nvd.nist.gov/vuln/detail/CVE-2019-5413

Understanding that this package has been suffering from low maintainer resources, I thought it would be useful to raise alert as it

[2019-05-09 12:01] asifshirazi commented on #884
[postcss-cssnext](/MoOx/postcss-cssnext) has transitioned into [postcss-preset-env](/csstools/postcss-preset-env)

[2019-06-24 08:04] sandrowuermli commented on #965
Closing something without comment… Always helps…

[2020-06-10 08:46] #822 closed

[2020-09-12 17:23] #1134 closed

[2022-04-06 14:17] #937 closed